/* Common btn class CSS */
.password .btn,
.personal .btn,
.addressEdit .btn  {
    width: 100%;
    font-size: 20px;
    padding-bottom: 2%;
}

/* Common second Btn css */
.password .btn #secondBtn,
.personal .btn #secondBtn,
.addressEdit .btn #secondBtn{
    margin-left: 3%;
}

/* Common css */
.personalInformation, 
.persoLayout .address{
    border: 1px solid #CDC9C3;
    margin-top: 2%;
    color: #D9E4DD;
}

/* common label css */
.personalInformation label,
.persoLayout .address label {
    color: #FBF7F0;
    font-size: 21px;
}

/* common title css */
.personalInformation .title,
.persoLayout .address .title {
    font-size: 25px;
    color: #F8F0DF;
}

/* common hover button css */
.editProfileBtn button:hover,
.password .btn button:hover,
.personal .btn button:hover,
.addressEdit .btn button:hover{
    background-color: #555555;
    color: #FBF7F0;
}

.editProfileBtn button#myOrders {
    color: #EFEFEF;
    background-color: #54BAB9;
}

.editProfileBtn button:hover#myOrders {
    color: #54BAB9;
    background-color: #EFEFEF;
}
/* common text align center css */
.password,
.addressEdit,
.myAccount-title,
.editProfileBtn
 {
    text-align: center;
}

/* common width css */
.personal label,
.addressEdit label {
    width: 175px;
}

/* common form css */
.personal .form,
.addressEdit .form {
    background-color: #555555;
    color: #FBF7F0;
    padding: 2% 10% 2%; 
    margin-bottom: 3%;
}

/* my account title css */
.myAccount-title{
    font-size: 28px;
    padding-top: 1%;
}

/* line separator css */
.myAccount-title #line {
    border-bottom: 1px solid #555555;
    margin: 0.5% 25%;
}

/* personal layout css */
.content .persoLayout {
    display: flex;
    width: 100%;

}

/* personal information css */
.personalInformation {
    width: 50%;
    margin-left: 15%;
    margin-right: 2%;
    padding: 1% 3% 1%;
    background-color: #555555;
}

/* address css */
.persoLayout .address {
    width: 25%;
    margin-right: 15%;
    padding: 1% 3% 1%;
    font-size: 23px;
    background-color: #555555;
}

/* edit btn layout css */
.editProfileBtn{
    padding-top: 2%;
    padding-bottom: 2%;
}

/* button css */
.editProfileBtn button {
    padding: 5px;
    margin-right: 2%;
}

/* form css */
.password .form {
    border: 1px solid #555555;
    margin: 1% 25% 2%;
    background-color: #555555;
    color: #FBF7F0;
    padding: 1%;
}

/* new password css */
.form_details input#new_password{
    margin-left: 4%;
} 

/* input css */
.form_details input {
    margin-bottom: 2%;
}

/* personal css */
.personal {
    margin: 2% 25% 3%;
}

/* form input css */
.personal .form_input {
    padding: 1%;
}

/* personal input css */
.personal input {
    width: 270px;
} 

/* address edit css */
.addressEdit {
    padding: 2%;
    margin: 0% 25% 3%;
}

/* address edit form input css */
.addressEdit .form input {
    margin-bottom: 2%;
}

.cartItems .details,
.cartItems .item,
.cartItems .item .description .size,
.cartItems .item .qty,
.cartItems .qty .counter
{
    display: flex;
}

.order .title {
    text-align: center;
    font-size: 30px;
    padding: 1% 1% 1%;
}

.order .subtitle {
    display: flex;
}

.order .subtitle .product,
.cartItems .details,
.cartItems .qty .counter .number {
    width: 50%;
}
/* cart body subtitles css */
.order .subtitle {
    width:100%;
    padding-left: 2%;
    padding-right: 2%;
    color: #66806A;
}

/* cart body product css */
.order .subtitle .product {
    border-bottom: 1px solid #66806A;
    margin-right: 1%;
}

/* common css  */
.order .subtitle .qty,
.order .subtitle .total {
    width: 25%;
    border-bottom: 1px solid #66806A;
    margin-right: 1%;
}

/* item total css */
.order .subtitle .total {
    text-align: right;
}

/* item css */
.cartItems .item {
    margin: 1% 3%;
    padding-bottom: 1%;
    border-bottom: 1px solid #66806A;
}

/* item img css */
.cartItems .details .img {
    border: 3px solid black;

}

/* description css */
.cartItems .item .description {
    padding-left: 1%;
    padding-top: 1%;
    font-size: 20px;
}

/* description title css */
.cartItems .item .description .title {
    font-size: 25px;
    color: #22577E;
    padding: 0%;
}

/* description price css */
.cartItems .item .description #price {
    font-size: 18px;
}

/* description size css */
.cartItems .item .description .size {
    font-size: 16px;
}

/* item qty css */
.cartItems .item .qty {
    width: 25%;
    margin-left: 20%;
    margin-top: 3%;
    text-align: center;
}


.cartItems .qty .number {
    margin-right: 3%;
    font-size: 45px;
}

/* cart item price css */
.cartItems .price{
    width: 25%;
}

/* item price css */
.cartItems .item .price {
    text-align: right;
    margin-top: 5%;
    font-size: 24px;
}
