
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  /* styling the side bar*/
  .sidemenu{
    position: absolute;
    height: 100%;
    width: 240px;
    background: #24A19C;
    transition: all 0.5s ease;
  }
  .sidemenu.active{
    width: 60px;
    position: flex !important;
  }
  /* adding logo details*/
  .sidemenu .logo-detailing{
    height: 80px;
    display: flex;
    align-items: center;
  }
  .sidemenu .logo-detailing i{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
  }
  .sidemenu .logo-detailing .logo_name{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }
  .sidemenu .nav-linking{
    margin-top: 10px;
  }
  .sidemenu .nav-linking li{
    position: flex;
    list-style: none;
    height: 50px;
  }
  /* adjucting links in the side menu bar*/
  .sidemenu .nav-linking li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  /* adding colour to the side menu bar*/
  .sidemenu .nav-linking li a.active{
    background: #24A19C;
  }
  .sidemenu.nav-linking li a:hover{
    background: #24A19C;
  }
  .sidemenu .nav-linking li i{
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  .sidemenu .nav-linking li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }
  .sidemenu .nav-linking .log_out{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .home-section{
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
  }
  .sidemenu.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }
  .sidemenu.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
  /* styling the sidemenu button*/
  .home-section nav .sidemenu-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }
  nav .sidemenu-button i{
    font-size: 35px;
    margin-right: 10px;
  }
  /*styling the dashboard's search bar */
  .home-section nav .search-box{
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
  }
  nav .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
  }
  nav .search-box .bx-search{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #07a7a7;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
  }
  .home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
  }
  nav .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
  }
  nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
  }
  nav .profile-details i{
    font-size: 25px;
    color: #333;
  }
  .home-section .content_home{
    position: relative;
    padding-top: 104px;
  }
  .content_home .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
  }
  /*styling the analytics boxes */
  .overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
  }
  .content_home .box .number{
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  .content_home .box .indicator{
    display: flex;
    align-items: center;
  }
  .content_home .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }
  .box .indicator i.down{
    background: #e87d88;
  }
  .content_home .box .indicator .text{
    font-size: 12px;
  }
  .content_home .box .cart{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }
  /*adding colour to the analytics boxes */
  .content_home .box .cart.two{
     color: #91C483;
     background: #C0F2D8;
   }
  .content_home .box .cart.three{
     color:#FFE162;
     background: #ffe8b3;
   }
   .content_home .box .cart.four{
     color: #FE9898;
     background: #f7d4d7;
   }
  .content_home .total-order{
    font-size: 20px;
    font-weight: 500;
  }
  .content_home .salestabs{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }
  
  /* left box */
  .content_home .salestabs .recent-sales{
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .content_home .salestabs .sales-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .salestabs .box .title{
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }
  .salestabs .sales-details li.topic{
    font-size: 20px;
    font-weight: 500;
  }
  .salestabs .sales-details li{
    list-style: none;
    margin: 8px 0;
  }
  .salestabs .sales-details li a{
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
  }
  .salestabs .box .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .salestabs .box .button a{
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .salestabs .box .button a:hover{
    background:  #0d3073;
  }
  
  /* Right table containing recent sales */
  .content_home .salestabs .top-sales{
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  /* styling the top sales analytics*/
  .salestabs .top-sales li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  .salestabs .top-sales li a img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
  }
  .salestabs .top-sales li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .salestabs .top-sales li .product,
  .price{
    font-size: 17px;
    font-weight: 400;
    color: #333;
  }
  /* reponsive with media query */
  @media (max-width: 1240px) {
    .sidemenu{
      width: 60px;
    }
    .sidemenu.active{
      width: 220px;
    }
    .home-section{
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidemenu.active ~ .home-section{
  
      overflow: hidden;
      left: 220px;
    }
    .home-section nav{
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidemenu.active ~ .home-section nav{
      width: calc(100% - 220px);
      left: 220px;
    }
  }
  @media (max-width: 1150px) {
    .content_home .salestabs{
      flex-direction: column;
    }
    .content_home .salestabs .box{
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 30px;
    }
    .content_home .salestabs .top-sales{
      margin: 0;
    }
  }
  @media (max-width: 1000px) {
    .overview-boxes .box{
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }
  @media (max-width: 700px) {
    nav .sidemenu-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i{
      display: none;
    }
    .home-section nav .profile-details{
      height: 50px;
      min-width: 40px;
    }
    .content_home .sales-boxes .sales-details{
      width: 560px;
    }
  }
  @media (max-width: 550px) {
    .overview-boxes .box{
      width: 100%;
      margin-bottom: 15px;
    }
    .sidemenu.active ~ .home-section nav .profile-details{
      display: none;
    }
}
  
  nav{
    background: #DACC96;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 15 100px;
  }
  nav .logo{
    top: 0 !important;
    left: 0 !important;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -2px;
  }
  nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
  }
  nav .nav-items li{
    list-style: none;
    padding: 0 15px;
  }
  nav .nav-items li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  nav .nav-items li a:hover{
    color: #71C9CE;
  }
  nav form{
    display: flex;
    height: 60px;
    padding: 3px;
    background: #1e232b;
    min-width: 18%!important;
    border-radius: 2px;
    border: 1px solid #DACC96;
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
  }
  nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #71C9CE;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  nav form button:hover{
    background: #71C9CE;
  }
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #DACC96;
    cursor: pointer;
    display: none;
  }
  nav .menu-icon span,
  nav .cancel-icon,
  nav .search-icon{
    display: none;
  }
  @media (max-width: 1255px) {
    nav{
      padding: 0 50px;
    }
  }
  @media (max-width: 1140px){
    nav{
      padding: 0px;
    }
    nav .logo{
      flex: 2;
      text-align: center;
    }
    nav .nav-items{
      position: fixed;
      z-index: 99;
      top: 70px;
      width: 100%;
      left: -100%;
      height: 100%;
      padding: 10px 50px 0 50px;
      text-align: center;
      background:#DACC96 ;
      display: inline-block;
      transition: left 0.3s ease;
    }
    nav .nav-items.active{
      left: 0px;
    }
    nav .nav-items li{
      margin: 30px 0;
      line-height: 40px;
      
    }
    nav .nav-items li a{
      font-size: 21px;
    }
    nav form{
      position: absolute;
      top: 80px;
      opacity: 0;
      right: 50px;
      pointer-events: none;
      transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active{
      top: 95px;
      opacity: 1;
      pointer-events: auto;
    }
    nav form:before{
      position: absolute;
      content: "";
      top: -13px;
      right: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      border: 10px solid transparent;
      border-bottom-color:#DACC96 ;
      margin: -20px 0 0;
    }
    nav form:after{
      position: absolute;
      content: '';
      height: 60px;
      padding: 2px;
      background: #DACC96;
      border-radius: 2px;
      min-width: calc(100% + 20px);
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    nav .menu-icon{
      display: block;
    }
    nav .search-icon,
    nav .menu-icon span{
      display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .space{
    margin: 10px 0;
  }
  nav .logo.space{
    
    padding: 0 10px 0 0;
  }
  @media (max-width: 980px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 20px;

    }
    nav form{
      right: 30px;
    }
  }
  @media (max-width: 350px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 10px;
      font-size: 16px;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .content .space{
    margin: 10px 0;
  }
/*styling the footer */
  footer{
    display: flex;
    bottom: 0;
   }
   .footer1{
    background-color: #DACC96;
    box-shadow: 0 1px 1px 0 #DACC96;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif !important;
    
    padding: 30px 30px;
    margin-top: 40px;
   }
    
   .footer1 .footer-left,
   .footer1 .footer-center,
   .footer1 .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer1 .footer-left{
    width: 50%;
   }
    
   .footer1 h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }
    
   .footer1 h3 span{
    color:  #24A19C;
   }
    
    /*adjusting footer links */
   .footer1 .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    font-size: 20px !important;
    padding: 0;
   }
    
   .footer1 .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer1 .footer-company-name{
    color:  #8f9296;
    font-size: 20px !important;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer1 .footer-center{
    width: 35%;
   }
    
   .footer1 .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px !important;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer1 .footer-center i.fa-envelope{
    font-size: 20px !important;
    line-height: 38px;
   }

   .footer1 .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    font-size: 20px !important;
    margin:0;
   }
    
   .footer1 .footer-center p span{
    display:block;
    font-weight: normal;
    font-size: 16px !important;
    line-height:2;
   }
    
   .footer1 .footer-center p a{
    color:  #5383d3;
    font-size: 20px !important;
    text-decoration: none;;
   }
    
   .footer1 .footer-right{
    width: 20%;
   }
    
   .footer1 .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 16px !important;
    font-weight: normal;
    margin: 0;
   }
    
   .footer1 .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer1 .footer-icons{
    margin-top: 25px;
   }
    
   .footer1 .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }
    
    
   @media (max-width: 880px) {
    
    .footer1{
    font: bold 14px sans-serif !important;
    
    }
    
    .footer1.footer-left,
    .footer1 .footer-center,
    .footer1 .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .footer1 .footer-center i{
    margin-left: 0;
    }
    .main {
    line-height: normal;
    font-size: auto;
    }
    
   }