body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
 /*styling the header */
  nav{
    background: #DACC96;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 15 100px;
  }
  /*adjusting the logo*/
  nav .logo{
    top: 0 !important;
    left: 0 !important;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -2px;
  }
  /*adding spacing between header elements */
  nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
  }
  nav .nav-items li{
    list-style: none;
    padding: 0 15px;
  }
  nav .nav-items li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  /* change colour of elements while hovering over them*/
  nav .nav-items li a:hover{
    color: #71C9CE;
  }


  nav form{
    display: flex;
    height: 60px;
    padding: 3px;
    background: #1e232b;
    min-width: 18%!important;
    border-radius: 2px;
    border: 1px solid #DACC96;
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
  }
  nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #71C9CE;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  nav form button:hover{
    background: #71C9CE;
  }
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #DACC96;
    cursor: pointer;
    display: none;
  }
  nav .menu-icon span,
  nav .cancel-icon,
  nav .search-icon{
    display: none;
  }
  @media (max-width: 1255px) {
    nav{
      padding: 0 50px;
    }
  }
  @media (max-width: 1140px){
    nav{
      padding: 0px;
    }
    nav .logo{
      flex: 2;
      text-align: center;
    }
    nav .nav-items{
      position: fixed;
      z-index: 99;
      top: 70px;
      width: 100%;
      left: -100%;
      height: 100%;
      padding: 10px 50px 0 50px;
      text-align: center;
      background:#DACC96 ;
      display: inline-block;
      transition: left 0.3s ease;
    }
    nav .nav-items.active{
      left: 0px;
    }
    nav .nav-items li{
      margin: 30px 0;
      line-height: 40px;
      
    }
    nav .nav-items li a{
      font-size: 21px;
    }
    nav form{
      position: absolute;
      top: 80px;
      opacity: 0;
      right: 50px;
      pointer-events: none;
      transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active{
      top: 95px;
      opacity: 1;
      pointer-events: auto;
    }
    nav form:before{
      position: absolute;
      content: "";
      top: -13px;
      right: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      border: 10px solid transparent;
      border-bottom-color:#DACC96 ;
      margin: -20px 0 0;
    }
    nav form:after{
      position: absolute;
      content: '';
      height: 60px;
      padding: 2px;
      background: #DACC96;
      border-radius: 2px;
      min-width: calc(100% + 20px);
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    nav .menu-icon{
      display: block;
    }
    nav .search-icon,
    nav .menu-icon span{
      display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .space{
    margin: 10px 0;
  }
  nav .logo.space{
    
    padding: 0 10px 0 0;
  }
  @media (max-width: 980px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 20px;

    }
    nav form{
      right: 30px;
    }
  }
  @media (max-width: 350px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 10px;
      font-size: 16px;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .content .space{
    margin: 10px 0;
  }
  /*adjusting form */
  form {
    max-width: 500px;
    max-height: 700px !important;
    margin: 20px auto;
    padding-top: 10px !important;
    padding: 60px 40px;
    background: #f4f7f8;
    border-radius: 8px;
  }
/* styling login button*/
  button{
    margin: 20px!important;
    padding: 15px;
    padding-inline: 150px 150px;
    background-color: #24A19C;
    border: none;
    border-radius: 80px;
    font-size: large;
    text-align: center!important;

}
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }

 /* styling footer*/
 footer{
  display: flex;
  bottom: 0;
 }
 /* footer1 layout */
 .footer1{
  background-color: #DACC96;
  box-shadow: 0 1px 1px 0 #DACC96;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif !important;
  
  padding: 30px 30px;
  margin-top: 40px;
 }
  
 /* footer1 left, center, right div css */
 .footer1 .footer-left,
 .footer1 .footer-center,
 .footer1 .footer-right{
  display: inline-block;
  vertical-align: top;
 }

 /* footer left css */
 .footer1 .footer-left{
  width: 50%;
 }
  
 /* footer title css */
 .footer1 h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }
  
 /* footer title span css */
 .footer1 h3 span{
  color:  #24A19C;
 }
  
  /* footer link css */
 .footer1 .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  font-size: 20px !important;
  padding: 0;
 }
  
 /* footer link details css */
 .footer1 .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 /* footer company name css */
 .footer1 .footer-company-name{
  color:  #8f9296;
  font-size: 20px !important;
  font-weight: normal;
  margin: 0;
 }
  
  /* footer center css */
 .footer1 .footer-center{
  width: 35%;
 }
  
 /* footer center icon css */
 .footer1 .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px !important;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  /* adding footer details*/
 .footer1 .footer-center i.fa-envelope{
  font-size: 20px !important;
  line-height: 38px;
 }

 /* footer center para css */
 .footer1 .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  font-size: 20px !important;
  margin:0;
 }
  
 /* footer center para span css */
 .footer1 .footer-center p span{
  display:block;
  font-weight: normal;
  font-size: 16px !important;
  line-height:2;
 }
  
 /* footer center para details css */
 .footer1 .footer-center p a{
  color:  #5383d3;
  font-size: 20px !important;
  text-decoration: none;;
 }
  
 /* footer right css */
 .footer1 .footer-right{
  width: 20%;
 }
  
 /* footer company about css */
 .footer1 .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 16px !important;
  font-weight: normal;
  margin: 0;
 }
  
 /* footer company about span css */
 .footer1 .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 /* footer icon css */
 .footer1 .footer-icons{
  margin-top: 25px;
 }
  
 /* footer icons details css */
 .footer1 .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }
  
  
 @media (max-width: 880px) {
  
  .footer1{
  font: bold 14px sans-serif !important;
  
  }
  
  .footer1.footer-left,
  .footer1 .footer-center,
  .footer1 .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer1 .footer-center i{
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  
 }