/* Common display flex */
.main-body,
.address .name,
.address .city,
.address .street,
.address .city,
.productInfo .productList,
.productInfo .subtotal,
.productInfo .tax,
.productInfo .shipping,
.productInfo .total{
    display: flex;
}

/* common padding 1% */
.address .name,
.address .city,
.address .street,
.address .city,
.address .country
{
    padding: 1%;
}

/* Common CSS */
.productInfo .subtotal,
.productInfo .tax,
.productInfo .shipping,
.productInfo .total{
    width: 100%;
    font-size: 18px;
    padding-top: 1%;
}

.productInfo .subtotal .label,
.productInfo .tax .label,
.productInfo .shipping .label,
.productInfo .total .label{
    width: 50%;
    margin-right: 26%;
}

.productInfo .subtotal .amount,
.productInfo .tax .amount,
.productInfo .shipping .amount,
.productInfo .total .amount{
    font-size: 23px;
}

/* Total css */
.productInfo .total {
    font-size: 25px;
}

/* line separator css */
#line{
    border: 1px solid black;
}

/* customer info css */
.customerInfo {
    width: 55%;
    padding: 2% 10%;
    background-color: #F0ECE3;
    border-right: 1px solid black;
}

/* customer info header css */
.customerInfo .header{
    font-size: 25px;
}

/* phone css */
.customerInfo .phone {
    padding-left: 2%;
    margin-bottom: 4%;
}

/* custoemr info input css */
.customerInfo input{
    border-radius: 5px;
}

/* product info css */
.productInfo {
    width: 45%;
}

/* list of country css */
.address .country select {
    height: 30px;
    border-radius: 5px;
}

/* first name css */
.address .name .first {
    width: 50%;
}

/* street css */
.address .street {
    padding-top: 2%;
}

/* street label css */
.address .street label{
    padding-right: 2%;
}

/* street input css */
.address .street input {
    width: 410px;
}

/* city name css */
.city .city_name {
    width: 50%;
}

/* button class customer info css */
.customerInfo .btn {
    padding-top: 5%;
    width: 100%;
}

/* button csss for customer info */
.customerInfo .btn button {
    width: 200px;
    height: 40px;
    margin-right: 3%;
    background-color: #C7B198;
    color: #191919;
}

/* button class details css */
.customerInfo .btn a {
    color: #9D9D9D;
}

/* product info css */
.productInfo {
    padding: 1% 2% ;
}

/* product list css */
.productInfo .productList {
    width: 100%;
    padding-bottom: 2%;
}

/* product details css */
.productInfo .productList .details {
    width: 50%;
    padding-left: 3%;
    font-size: 18px;
}

/* product list total css */
.productInfo  .productList .total  {
    width: 25%;
    padding-top: 5%;
    padding-left: 10%;
    float: right;
}
