/* CSS Variable */
:root {
    --browngrey: #DBD0C0;
    --lightbrown: #FAEEE0;
    --lighbeige: #F9E4C8;
    --beige: #F9CF93;
}
 
/* Common font-family and font-size CSS  */
body,footer {
    font-family: Georgia, serif;
    font-size: 20px;
}

.nav-bar {
    display: flex;
    width:100%;
    background-color: #CDC9C3;
}

/* Common text-align CSS */
.navbar-item li a
{
    border-radius: 8px;  
    color : #555555;

}

/* The navigation Container */
.navigation-container {
    padding-top: 0.5%;
    width:100%;
    display: flex;
}

/* Navigation item list */
.navbar-item li {
    float: left;
}

.nav-category {
    float:left;
    width: 50%;
}

.nav-other{
    width: 50%;
    padding-right: 1%;
}

.nav-other .navbar-item {
    float:right;
    right:0;
}

.navbar-brand {
    padding-left: 2%;
    padding-top: 0.02%;
}

/* Navigation bar Title */
.navbar-brand span {
    margin-left:10px;
    font-size: 25px;
}

.navbar-item {
  list-style-type: none;
  overflow: hidden;
}

/* Navigation item text */
.navbar-item .search {
    margin-top: 2.5%;
    padding-right: 1%;
}
  
/* Navigation Hover */
.navbar-item li a:hover {
    background-color: #FBF7F0;
    color: #71C9CE;
}
  
/* Navigation active */
.navbar-item li a#active {

}
  
.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}


